/*登陆页*/
.wrap .header{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}
.wrap .header .logo{
    float: left;
    padding: 15px 0;
    border-right: 1px solid #999999;
}
.wrap .header .logo a{
    display: block;
    margin-right: 25px;
}
.wrap .header p{
    float: left;
    font: 30px/102px '微软雅黑';
    color: #666;
    margin-left: 55px;
}
.wrap .header .login-reg{
    float: right;
}
.wrap .header .login-reg p{
    float: none;
    font: 16px/60px '微软雅黑';
    color: #666;
    margin-top: 44px;
}
.wrap .header .login-reg p a{
    font-weight: bold;
    color: #333;
}


.wrap .main{
    width: 100%;
    background: #eceff1;
}
.wrap .main .login{
    width:1000px;
    margin:0 auto;
    padding: 130px 100px;
}
.wrap .main .login .form-box{
    border:10px solid #cecece;
    text-align: center;
    padding:100px 130px;
    background: #fff;
}
.wrap .main .login .form-box form .form-group{
    overflow: hidden;
    margin-bottom:40px;
}
.wrap .main .login .form-box form .form-group label{
    overflow: hidden;
    text-align: right;
    width: 100px;
    float: left;
    font: 16px/53px '微软雅黑';
    color: #666;
    position: relative;
    margin-right: 22px;
}
.wrap .main .login .form-box form .form-group label .red{
    position: absolute;
    top: 48%;
    left: 57%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
}
.wrap .main .login .form-box form .form-group label .user{
    top: 48%;
    left: 44%;
}
.wrap .main .login .form-box form .form-group input{
    float: left;
    width: 556px;
    font: 14px/47px '微软雅黑';
    color: #666;
    padding-left: 28px;
}
.wrap .main .login .form-box form .form-group div{
    overflow: hidden;
    position: relative;
}
.wrap .main .login .form-box form .form-group .error{
    position: absolute;
    color: red;
    font: 12px/20px '微软雅黑';
    text-align: left;
    padding-left: 130px;
    display: none;
}


.wrap .main .login .form-box form .form-group:nth-child(3) input{
    width: 170px;
    text-align: center;
    padding:0;
}
.wrap .main .login .form-box form .form-group:nth-child(3) div p{
    width: 170px;
    height: 51px;
    text-align: center;
    float: left;
    overflow: hidden;
    margin: 0 10px;
}
.wrap .main .login .form-box form .form-group:nth-child(3) div .change{
    float: left;
    border:none;
    font: 14px/20px '微软雅黑';
    cursor: pointer;
    color: #666;
    background: #fff;
}
.wrap .main .login .form-box form .form-group:nth-child(4){
    width: 476px;
    margin: 0 auto;
}
.wrap .main .login .form-box form .form-group:nth-child(4) label{
    overflow: hidden;
    float: left;
    width: 30%;
}
.wrap .main .login .form-box form .form-group:nth-child(4) label input{
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}
.wrap .main .login .form-box form .form-group:nth-child(4) label span{
    float: left;
    font: 14px/20px '微软雅黑';
}
.wrap .main .login .form-box form .form-group:nth-child(4) div{
    float: right;
    font: 14px/20px '微软雅黑';

}
.wrap .main .login .form-box form .form-group:nth-child(4) div a{
    color: #666;
}
.wrap .main .login .form-box form .loin{
    width: 476px;
    font: 18px/54px '微软雅黑';
    color: #fff;
    text-align: center;
    background:#274081;
    border: none;
    margin: 40px auto;
    cursor: pointer;

}
.wrap .main .login .form-box form .reg{
    display: block;
    width: 476px;
    font: 18px/54px '微软雅黑';
    color: #274081;
    text-align: center;
    background:#e5e5e5;
    border: none;
    margin: 0 auto 40px;
    cursor: pointer;

}


.third-party{
    width: 476px;
    margin: 0 auto 0;
    text-align: left;
}
.third-party span{
    font: 14px/48px '微软雅黑';
    color: #666;
}
.third-party div{
    overflow: hidden;
}
.third-party div a{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.third-party div a img{
    width: 100%;
    height: 100%;
}