/*会员中心*/
.wrap .main .order .order-con .con-box {
    background: #f5f4f4;
}
.wrap .main .order .order-con .con-box .title {
    overflow: hidden;
    text-align: right;
    font-size:14px;
    color: #3a3939;
}
.wrap .main .order .order-con .con-box .title a{
   display: inline-block;
    color: #3a3939;

}
.member-enter{
    overflow: hidden;
    background: #fff;
    border-radius: 100px 0 0 100px;
}
.member-enter .left{
    float: left;
    width: 306px;
    padding: 30px 27px 20px;

}
.member-enter .left .tp{
    float: left;
    margin: 15px 30px 15px 0;
    cursor: pointer;
}
.member-enter .left div{
    float: left;
}
.wrap .main .order .order-con .member-enter .left div h5{
    padding: 0;
    margin: 0;
    border-radius: 0;
    font:bold 18px/33px '微软雅黑';
    color: #000000;
}
.wrap .main .order .order-con .member-enter .left div a{
    font: 14px/40px '微软雅黑';
    color: #f1b749;
}
.wrap .main .order .order-con .member-enter .left div p{
    font: 12px/20px '微软雅黑';
    color: #0d35c9;
}
.wrap .main .order .order-con .member-enter .left div p span{
    display: inline-block;
    width: 86px;
    height: 14px;
    background: #e4e3e3;
    padding-bottom: 5px;
    vertical-align: middle;
    position: relative;
}
.wrap .main .order .order-con .member-enter .left div p span i{
    position: absolute;
    width: 75px;
    height: 19px;
    background: #2ebd02;
    top: 0;
    left:0;
    display: block;
}
.wrap .main .order .order-con .member-enter .left div p+p{
    font: 12px/40px '微软雅黑';
}
.wrap .main .order .order-con .member-enter .right{
    float: left;
    padding: 30px 0 0 0;
}
.wrap .main .order .order-con .member-enter .right ul{
    overflow: hidden;
}
.wrap .main .order .order-con .member-enter .right ul li{
    width: 130px;
    text-align: center;
    float: left;
}
.wrap .main .order .order-con .member-enter .right ul li a{
    display: block;
}
.wrap .main .order .order-con .member-enter .right ul li p{
    font: 16px/32px '微软雅黑';
    color: #000000;
}
.wrap .main .order .order-con .member-enter .right ul li p i{
    color: red;
    margin-left: 5px;
}
.wrap .main .order .order-con .member-enter .right textarea{
    width: 460px;
    height: 26px;
    margin: 13px auto 0 28px;
    background: #f5f4f4;
    border-radius: 7px;
    outline: none;
    resize:none;
    padding:0 0 11px 22px;
    font: 12px/26px '微软雅黑';
    color: #666;
}




.evaluat-list .list-title{
    overflow: hidden;
    padding: 0 35px;
    background: #fff;
    margin-top: 25px;
}
.evaluat-list .list-title h6{
    float: left;
    font: 18px/60px '微软雅黑';
    color: #333;
}
.evaluat-list .list-title a{
    float: right;
    font: 14px/60px '微软雅黑';
    color: #333;

}


.wrap .main .order .order-con .evaluat-list ul li{
    border:none;
    background: #fff;
    padding: 12px 40px;
}
.wrap .main .evaluate-box .evaluate-con .con-box .evaluat-list ul li .details{
    padding: 0 0 20px 0;
    border-bottom: 1px dashed #dad9d9;
}

.time{
    margin-top: 15px;
}
.time p{
    font: 14px/20px '';
    color: #333333;
}